
<sly-card title="Grid gallery">

    <el-tag type="gray"
        style="font-size: 17px;">Total number of images in dataset: {{ state.maxImages }}
    </el-tag>

    <br>
    </br>

    <div class="fflex mb15">
    <sly-field title="Number of images on page">
        <el-input-number v-model="state.rows" :min="1" :max="300"></el-input-number>
    </sly-field>
    <sly-field title="Number of columns on page" style="margin-left: 10px">
        <el-input-number v-model="state.cols" :min="1" :max="10"></el-input-number>
    </sly-field>
    <el-button type="primary" class="regular" style="margin-left: 15px"
               @click="command('review_gallery');" ref="checkpoint">Get gallery
    </el-button>
    </div>

    <div>
        <hr>
        <sly-field title="" class="mt10" >
            <div class="fflex mb15" style="justify-content: center;">
                <el-pagination

                  @current-change="command('update_page')"
                  :current-page.sync="state.input"
                  layout="prev, pager, next, jumper"
                  :page-size="state.rows"
                  :total="state.maxImages">
                </el-pagination>
            </div>

            <sly-grid-gallery
                    v-if="data.perClass"
                    :content="data.perClass.content"
                    :options="data.perClass.options"
                    v-loading="state.alreadyUpload">
                <template v-slot:card-footer="{ annotation }">
                <div class="mt5" style="text-align: center">
                   <el-tag type="primary">{{annotation.title}}</el-tag>

                    <div v-for="v,k in annotation.info" style="word-break: break-all;">
                        <b style="color: #777777;">{{k}}</b>: {{v}}
                    </div>
                </div>
                </template>
            </sly-grid-gallery>

            <br>
            </br>

            <div class="fflex mb15" style="justify-content: center;">
            <el-pagination
                  v-if="state.alreadyUpload"
                  @current-change="command('update_page'); $nextTick(() => { $refs['checkpoint'].$el.scrollIntoView({behavior: 'smooth', block: 'start'}); })"
                  :current-page.sync="state.input"
                  layout="prev, pager, next, jumper"
                  :page-size="state.rows"
                  :total="state.maxImages">
            </el-pagination></div>

        </sly-field>
    </div>
</sly-card>

