

<sly-card title="Visualizations"
          subtitle="Grid gallery for test"
          :options="{collapsable: true}"
          :collapsed.sync="state.collapsed5"
          ref="step5"
>
    <sly-field title="Number of images on page">
        <el-input-number v-model="state.rows" :min="1" :max="100"></el-input-number>
    </sly-field>
    <sly-field title="Number of columns on page">
        <el-input-number v-model="state.cols" :min="1" :max="10"></el-input-number>
    </sly-field>
    <el-button type="primary" class="regular"
               @click="command('test_compary_gallery');"
    >update parameters
    </el-button>
    <div v-if="state.galleryInitialized">
        </br>
        <hr>
        <sly-field title="" class="mt10">
            </br>
            <div class="fflex mb15">
                <el-button type="primary"
                           class="regular"
                           @click="command('previous_page');"
                           :disabled="state.galleryIsFirstPage"
                           style="width: 160px">
                    <i class="el-icon-arrow-left el-icon-left"></i>
                </el-button>

                <el-button type="primary" class="regular"
                           @click="command('next_page');"
                           :disabled="state.galleryIsLastPage"
                           style="width: 160px">
                    <i class="el-icon-arrow-right el-icon-right ml10"></i>
                </el-button>

                <el-tag type="gray" class="ml15"
                        style="font-size: 17px;">Go to:
                </el-tag>

                <el-input-number name="Input page number"
                          class="ml15"
                          v-model="state.input" :min="1"
                          @change="command('test_compary_gallery')">
                </el-input-number>

                <el-tag type="gray" class="ml15"
                        style="font-size: 17px;">current page: {{ state.galleryPage }}/{{ state.galleryMaxPage }}
                </el-tag>

            </div>


            <sly-grid-gallery
                    :content="data.perClass.content"
                    :options="data.perClass.options">
                <template v-slot:card-footer="{ annotation }">
                <div class="mt5" style="text-align: center">
                   <el-tag type="primary">{{annotation.title}}</el-tag>
                </div>
                </template>
            </sly-grid-gallery>
        </sly-field>
    </div>
</sly-card>


<!--<div>-->
<!--<sly-grid-gallery :content="data.perClass.content" :options="data.perClass.options" style="width: 100%">-->
<!--                    <template v-slot:card-footer="{ annotation }">-->
<!--                        <div class="mt5" style="text-align: center">-->
<!--                            <el-tag type="primary">{{annotation.title}}</el-tag>-->
<!--                        </div>-->
<!--                    </template>-->
<!--                </sly-grid-gallery>-->
<!--</div>-->